* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  background: #f0ecec;
  position: relative;
  font-family: 'roboto', sans-serif;
}

@media (max-width: 1100px) {
  .right-col,
  .search-box {
    display: none;
  }
  .nav-wrapper,
  .wrapper {
    width: 90%;
  }
  .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .nav-items .icon {
    margin: 0 5px;
  }
  .post-image {
    height: 300px;
  }
}